.card-list-wrapper{
    //general things
    width: 85vw;
    margin: auto;
    //list cards
    .card-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 20px; 
    }
}