.card-container{
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    padding: 25px;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    text-align: center;
    margin-top: 10px;
    background-color:#FE1E9A;
    align-items: center;
    
    .card-img {
        height: 150px;
    }

    @media (max-width: 700px){
        h1{
            font-size: 150%;
        }
        .card-img {
            width: 200px;
        }
    }
}