.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #282c34;

  .logo-container{
    height: 100%;
    width: 70px;
    padding-left: 10px;
    .logo {
      height: 100%;
      width: 70px;
    }
  }
  .options {
    .option-container {
      margin: 0;
      height: 100%;
      width: 70px;
      padding-right: 10px;
      .option {
        height: 100%;
        width: 70px;
      }
    }
  }
}