.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #282c34;
    .logo, .option {
      height: 100%;
      width: 70px;
      margin: auto 15px;
      cursor: pointer;
    }
}